<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FoxNetSoft.Plugin.Misc.StampsConnector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SwsimV135Soap">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://swsim.stamps.com/swsim/swsimv135.asmx"
                binding="basicHttpBinding" bindingConfiguration="SwsimV135Soap"
                contract="FoxNetSoft.Plugin.Misc.StampsConnector.StampsServiceReference.SwsimV135Soap" name="SwsimV135Soap" />
        </client>
      <behaviors>
        <endpointBehaviors>
        </endpointBehaviors>
      </behaviors>      
    </system.serviceModel>
    <applicationSettings>
      <FoxNetSoft.Plugin.Misc.StampsConnector.Properties.Settings>
            <setting name="FoxNetSoft_Plugin_Misc_StampsConnector_StampsWebReference_Swsimv135"
                serializeAs="String">
                <value>https://swsim.stamps.com/swsim/swsimv135.asmx</value>
            </setting>
        </FoxNetSoft.Plugin.Misc.StampsConnector.Properties.Settings>
    </applicationSettings>
</configuration>
